*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hier können Stiele für die ganze Webseite angegeben werden. */
body {
    margin: 0;
    background-color: pink;
}

/* Hier werden 2 Elemente nebeneinander gepackt.
   Mit `display: flex;` können wir angeben in welche Richtung alle Kinder von
   einem Element ausgerichtet werden. Wählen wir `flex-direction: row`, dann
   werden Sie alle mit gleich viel Platz in einer Reihe nebeneinander platziert.
   Mit `flex-direction: column` werden Sie untereinander platziert. Das reicht
   um die meisten Elemente gut zu platzieren.
*/
.text-and-img {
    display: flex; /* Richtet die Elemnte in einer Zeile oder Reihe aus. */
    flex-direction: row; /* In einer Reihe ausgerichtet. */
    gap: 1rem; /* Abstand zwischen den Elementen.*/
    align-items: center; /* Ausrichtung in der Mitte entlang der anderen Achse. */
    justify-content: center; /* Ausrichtung in der Mitte entlang der Hauptachse */
    margin: 1rem; /* Abstand auf allem Seiten. */
}

/* Diese Regel beschreibt wie Bilder in diesem Container dargestellt werden. */
.text-and-img img {
    border-radius: 2rem; /* Damit können die Ecken abgerundet werden. */
    width: 100%; /* Braucht es damit das Bild im Container bleibt und nicht viel zu gross ist. */
}

.my-h1 {
    color: hotpink;
    font-size: 340%;
}
.my-h2 {
    color: whitesmoke;
    font-size: 260%;
}
.my-p1 {
    color: deeppink;
    font-size: x-large;
}
.was {
    color: deeppink;
    font-size: x-large;
}
.wo {
    color: deeppink;
    font-size: x-large;
}
.wann {
    color: deeppink;
    font-size: x-large;
}
.warum {
    color: deeppink;
    font-size: x-large;
}
.wieso {
    color: deeppink;
    font-size: x-large;
}
.my-h6 {
    color: ghostwhite;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}
.my-h3 {
    color: whitesmoke;
    font-size: 260%;
}
.p1 {
    color: deeppink;
    font-size: large;
}
.p2 {
    color: deeppink;
    font-size: large;
}
.p3 {
    color: deeppink;
    font-size: large;
}
.p4 {
    color: deeppink;
    font-size: large;
}
.p5 {
    color: whitesmoke;
    font-size: xx-large;
}
